* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #828282;
}

h1 {
  font-size: 72px;
  color: #ccf8ff;
  font-weight: 700;
  line-height: 87px;
  text-align: left;
}

h4 {
  font-size: 21px;
  line-height: 36px;
  color: #ccf8ff;
  font-weight: 400;
  text-align: left;
}

.main-sheet {
  max-width: 1440px;
  margin: 0 auto;
  background: white;
  width: 1440px;
  height: 1440px;
}

.second-sheet {
  background: linear-gradient(92.33deg, #196b78 0.12%, #138496 100%);
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
  height: 295px;
  width: 1440px;
}

.title-sheet {
  margin: 0 auto;
  padding-top: 64px;
  height: 87px;
  width: 435px;
}
.discription-sheet {
  margin: 0 auto;
  padding-top: 79px;
  width: 233px;
  height: 36px;
}

.input-sheet {
  padding-top: 96px;
  padding-left: 22%;
}
.input {
  padding: 32px 22px;
  width: 820px;
  height: 64px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: #818182;
}
.card-list {
  padding: 90px 226px;
  border: #dfdbe5 solid 1px;
  border-radius: 4px;
  background: whitesmoke;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
}

.card {
  width: 316px;
  box-sizing: border-box;
  background: #fff;
  padding: 24px;
  border: 1px solid #DEE2E6;
  border-radius: 4px;

}

.card-title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 18px;
}

.card-symbol {
  text-align: center;
  margin-bottom: 12px;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: underline;

}

.card-keywords {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
